mergeBaseJenkins.iml
.idea
.DS_Store

jenkins-home/local/.cache/*.**
jenkins-home/local/copy_reference_file.log
jenkins-home/local/logs
jenkins-home/local/.java/fonts/*.**
jenkins-home/local/failed-boot-attempts.txt
jenkins-home/local/queue.xml